TOP_BAR_HEIGHT = 5rem

.editor
  &__wrapper
    background #eee
    height 100vh
    overflow scroll

  &__container
    margin-top TOP_BAR_HEIGHT
    width 80%
    display flex
    align-items center
    justify-content center
    flex-direction column

    &__wrapper
      display flex
      justify-content flex-end

  