.landing
  &__wrapper
    width 100%
    // height 100vh
    background rgba(#fff, 0.4)
    
  &__nav
    width 100%
    height 6rem
    list-style none
    display flex
    padding .5rem 2rem
    align-items center
    justify-content flex-end
    background transparent
    &__item
      font-size 1.8rem
      margin 0 1rem
      cursor pointer

  &__hero
    display grid
    grid-template-columns 1fr 1fr
    align-items center
    justify-content space-between
    padding 0 15rem
    height 100vh - 7rem

  &__image
    width 100%
    img
      width 100%

  &__text
    width 100%
    height 45%
    text-align center

  &__title
    &--main
      font-family 'Megrim'
      font-weight bold
      font-size 7rem
      margin 2rem 0
    font-size 2.5rem
  
  &__cta-wrapper
    margin 5rem 0

  &__secondary-cta
    margin 1rem auto
    cta(#27ae60)


  &__cta
    cta(ACCENT_COLOR)
  
  &__beginning
    margin-bottom 20rem
    &__header
      font-size 5rem
      font-family 'Megrim', sans-serif
      font-weight bold
      text-align center
    &__message
      font-size 4rem
      font-weight 100
      text-align center
      span
        color ACCENT_COLOR
        font-weight 400
    &__sub-message
      margin 2rem auto
      font-size 2.5rem
      font-weight 400
      text-align center

  &__features
    &__messages
      margin 5rem auto
    &__message
      font-size 4rem
      font-weight 100
      text-align center
      span
        color ACCENT_COLOR
        font-weight 400
    &__sub-message
      margin 2rem auto
      font-size 2.5rem
      font-weight 400
      text-align center


    &__header
      font-size 5rem
      font-family 'Megrim', sans-serif
      font-weight bold
      text-align center

    &__grid
      display grid
      padding 10rem 4rem
      width 100%
      grid-template-columns 1fr 1fr 1fr
      margin 0 auto
    
    &__feature
      margin 0 auto
      &__img
        width 100%
    
  &__feature
    margin 0 4rem
    background #fff
    border-radius 2rem
    width 70%
    margin 0 auto
    padding 2rem
    overfl

    &__title
      font-size 2.5rem
      text-align center
      margin 1rem auto

    &__description
      font-size 1.8rem
      text-align justify
    &__img
      img
        width 100%
        