ACCENT_COLOR = #6c5ce7


.contextmenu
  position absolute
  width 20rem
  background #fff
  border-radius 1rem
  box-shadow 0rem 0.5rem 4rem rgba(#000, 0.3)
  color #222f3e
  overflow hidden
  &__item
    cursor pointer
    padding 1rem
    font-size 1.8rem
    display flex
    align-items center
    &:hover
      background #eee
  &__text
    font-weight bold
    margin-left 1rem