.symbols
  &__text
    &__wrapper
      display flex
      align-items center
      margin 1rem
      background #eee
      border-radius .5rem
      padding 1rem
      cursor move
      cursor grab
      cursor -moz-grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -moz-grabbing
        cursor -webkit-grabbing
    &__icon
      width 3rem
      margin-right 1rem
    &__text
      font-size 1.8rem
      font-weight 400
      
  &__image
    width 3rem
    filter brightness(0) saturate(100%)

    &--red
      filter: brightness(0) saturate(100%) invert(10%) sepia(97%) saturate(6897%) hue-rotate(3deg) brightness(109%) contrast(113%)

    &--purple
      filter: brightness(0) saturate(100%) invert(34%) sepia(35%) saturate(4616%) hue-rotate(234deg) brightness(97%) contrast(87%)

    &--green
      filter: brightness(0) saturate(100%) invert(50%) sepia(12%) saturate(3786%) hue-rotate(124deg) brightness(94%) contrast(83%)

    &--pink
      filter: brightness(0) saturate(100%) invert(69%) sepia(87%) saturate(6081%) hue-rotate(306deg) brightness(95%) contrast(92%)

    &__wrapper
      cursor move
      cursor grab
      cursor -moz-grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -moz-grabbing
        cursor -webkit-grabbing


.quickmarking
  &__wrapper
    background #eee
    display flex
    align-items center
    justify-content space-between
    font-size 2rem
    padding 1rem 2rem
    width 90%
    margin 1rem auto
    border-radius .5rem
    cursor move
      cursor grab
      cursor -moz-grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -moz-grabbing
        cursor -webkit-grabbing
  &__total 
    width 5rem
    padding .5rem
    font-weight bold
  &__marks
    font-weight bold