.symbols
  &__text
    &__wrapper
      display flex
      align-items center
      margin 1rem
      background #eee
      border-radius .5rem
      padding 1rem
      cursor move
      cursor grab
      cursor -moz-grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -moz-grabbing
        cursor -webkit-grabbing
    &__icon
      width 3rem
      margin-right 1rem
    &__text
      font-size 1.8rem
      font-weight 400
      
  &__image
    width 3rem
    &__wrapper
      cursor move
      cursor grab
      cursor -moz-grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -moz-grabbing
        cursor -webkit-grabbing


.quickmarking
  &__wrapper
    background #eee
    display flex
    align-items center
    justify-content space-between
    font-size 2rem
    padding 1rem 2rem
    width 90%
    margin 1rem auto
    border-radius .5rem
    cursor move
      cursor grab
      cursor -moz-grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -moz-grabbing
        cursor -webkit-grabbing
  &__total 
    width 5rem
    padding .5rem
    font-weight bold
  &__marks
    font-weight bold